button{
    background-color: aqua;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}
.main
{
    margin-top: 20px;
    height: 450px;
    border: 2px solid teal;
    
}
.main h1{
    margin-top: 120px;
    text-align: center;
}
.main p{
    margin-top: 120px;
    text-align: center;
}