.App
{
  text-align: center;
}
.img
{
  height: 150px;
  width: 150px;
}
.maindiv
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  padding: 40px;
}
.scDiv
{
  border: 1px solid rgb(94, 77, 77);
  padding: 20px;
  text-align: justify;
  border-radius: 10px;  

}
.op
{
  margin: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: aquamarine;
  font-weight: bold;
  border: none;
}
.para
{
  font-size: 10px;
  height: 100px;
}
.post
{
  margin: 10px;
  padding: 5px 20px;
  background-color: azure;
  border-radius: 5px;

}
button
{
  padding: 8px 30px;
  font-weight: bold;
  background-color:blue;
  border: none;
  border-radius: 5px;
}
button:hover
{
  background-color: red ;
}
.linkto
{
  text-decoration: none;
  font-weight: bold;
  cursor: pointer ;

}
.linkto:hover
{
  color:black;
}